<header id="includedHeader" class="header">
  <a id="skip-navigation" class="ui-hidden-accessible" href="#mainContent">Skip Navigation</a>
  <div class="site-header">
      <div class="container clearfix">
          <div class="logoSection clearfix">
              <div class="left">
                  <a class="MegamenuOpenlogo" data-attr="first" href="javascript:void(0);">
                      <span class="ui-hidden-accessible"> Mega Menu</span>
                  </a>
                  <a class="logo" data-attr='first' href="http://www.jetprivilege.com" aria-label="jet privilege logo (launches the homepage)"><span class="ui-hidden-accessible">jet privilege logo (launches the homepage)</span></a>
              </div>
             <!-- left -->
              <div class="right">
                  <div class="login login-desktop">
                      <div class="clearfix">
                          <ul class="inline">
                              <li>
                                  <a class="headerEnrollLink" href="http://www.jetprivilege.com/rewards-program/enrol">Enrol</a>
                              </li>
                              <!--li id="guidedTourLink" class="middleList hideinmobile">
                                  <a class="cursorPointer">Guided Tour</a>
                              </li-->
                              <li>
                                  <a class="headerEnrollLinkIcon" href="http://www.jetprivilege.com/rewards-program/enrol">
                                      <span class="ui-hidden-accessible">Enroll here for Jet Privilege account</span>
                                  </a>
                                  <a class="before_login" href="javascript:void(0);">
                                      <span class="ui-hidden-accessible">Enroll here for Jet Privilege account</span>
                                  </a>
                              </li>
                              <li class="login_btn">
                                  <a href="javascript:void(0);">Login</a>
                              </li>
                          </ul>
                      </div>
                     <!-- clearfix -->
                     <!--div class="login_btn">
                          <a href="javascript:void(0);">Login</a>
                      </div> < !- - login_btn -->
                  </div>

                  <!-- login -->
                  <div class="logout hide logout-desktop ">
                      <div class="clearfix">
                          <ul class="inline">
                              <li class="after_login mobile"></li>
                              <li class="">Hello <span>Rajput</span></li>
                              <li class="">JP No: 10001312</li>
                              <li class="">
                                  <div class="arrow-brdr"></div>
                              </li>
                              <li class="arrow_down "></li>
                          </ul>
                      </div>
                      <!-- clearfix -->
                      <div class="logout_btn hide">
                          <a href="javascript:void(0);">Logout</a>
                      </div>
                  </div>
                  <div class="login-mobile">
                      <div class="clearfix">
                          <ul class="inline">
                              <li>
                                  <a class="headerEnrollLinkIcon" href="http://www.jetprivilege.com/rewards-program/enrol">
                                      <span class="ui-hidden-accessible">Enroll here for Jet Privilege account</span>
                                  </a>
                              </li>
                              <li>
                                  <a class="headerEnrollLinkIcon" href="javascript:void(0);">
                                      <span class="ui-hidden-accessible">Login here for Jet Privilege account</span>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="logout-mobile hide">

                  </div>
                  <!-- logout -->
              </div>
              <!-- right -->
          </div>
          <nav class="topNavigation clearfix" data-role="navbar">
              <span class="mobMenu"></span>
              <ul>
                  <li data-target="navabout">
                      <a href="http://www.jetprivilege.com/rewards-program" class="About">
                          <span></span>
                          Our Programme
                      </a>
                  </li>
                  <li data-target="navearnjpmiles">
                      <a href="http://www.jetprivilege.com/earn-jpmiles" class="EMiles">
                          <span></span>
                          Earn JPMiles
                      </a>
                  </li>
                  <li data-target="navusemiles">
                      <a href="http://www.jetprivilege.com/use-jpmiles" class="UMiles">
                          <span></span>
                          Use JPMiles
                      </a>
                  </li>
                  <li data-target="navoffer">
                      <a href="http://www.jetprivilege.com/offers-deals" class="Offer">
                          <span></span>
                          Offers &amp; Deals
                      </a>
                  </li>
                  <li data-target="navbooknow">
                      <a href="http://www.jetprivilege.com/book-now" class="PNetwork">
                          <span></span>
                          Book Now
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>

  <!-- <div class="mobile-header-search-wrap mobile">
      <div class="flex-container">
          <div class="back-icon">
              <img src="images/header/back-arrow.png" alt=""/>
          </div>
          <div class="search-box">
              <input type="text" name="" class="form-control" value="">
          </div>
          <div class="search-close-icon flex-container">
              <div class="search-icon">
                  <img src="images/header/search.png" alt=""/>
              </div>
              <div class="close-icon">
                  <img src="images/header/close.png" alt=""/>
              </div>
          </div>
      </div>
  </div> -->
</header>