<footer class="clearfix footerOpen" >
  <!-- <div class="" id="downarrow">
      <p class="hideElement"></p>
  </div> -->
  <div class="footerInner">
      <div class="container clearfix">
          <div class="grid-Container grid-Container960 desktop">
              <div class="panelone">
                  <div class="footerColumn1">
                      <ul class="footerNavigation">
                          <li>
                              <a href="http://www.jetprivilege.com/about-us">About Us</a>
                          </li>
                          <li>
                              <a href="https://www.jetprivilege.com/corporate-social-responsibility">Social Impact</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/contact-us">Contact Us</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/faq">FAQs &amp; Glossary</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/pressroom">Pressroom</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/careers">Careers</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/terms-and-conditions">Terms &amp; Conditions</a>
                          </li>
                          <li>
                              <a href="https://www.jetprivilege.com/privacy-security-policy">Privacy Policy</a>
                          </li>
                          <li>
                              <a href="http://www.jetprivilege.com/disclaimer-policy">Disclaimers &amp; Policies</a>
                          </li>
                          <!-- <li>
                          <a href="http://www.jetprivilege.com/cookie-policy">Cookie Policy</a>
                          </li> -->
                          <li>
                              <a href="http://www.jetprivilege.com/sitemap">Site Map</a>
                          </li>
                      </ul>
                  </div>
                  <div class="footerColumn2">
                      <ul class="footerNavigation">
                          <li>
                              <!-- <h3 class="footerMedFont">India</h3> -->

                              <h3 class="footerMedFont">
                                  <span>India</span>
                                  Metro Cities
                              </h3>
                              <div style="margin-bottom:7px; margin-top:3px;line-height: 20px;">for Bengaluru, Chennai, Delhi, Hyderabad, Kolkata &amp; Mumbai dial 3989 3333</div>
                          </li>
                          <li>
                              <h3 class="footerMedFont txtmarginT20">Other Cities</h3>
                              <div style="margin-bottom:7px; margin-top:3px;line-height: 20px;">Prefix the city code of nearest metro city and dial 3989 3333</div>
                          </li>
                      </ul>
                  </div>
                  <div class="footerColumn3">
                      <ul class="footerNavigation">
                          <li>
                              <h3 class="footerMedFont">United Kingdom</h3>0808-101-1199*
                              <!-- <div style="margin-bottom:20px; margin-top:3px">
                          </div> -->
                          </li>
                          <li>
                              <h3 class="footerMedFont jp-mediumFont txtmarginT29">USA and Canada</h3>1-877-U-FLY-JET* (1 877 835 9538)
                              <div style="margin-top: 25px;">
                                  *Toll Free
                              </div>
                          </li>
                      </ul>
                  </div>
                  <div class="footerColumn3 footerColumn4">
                      <ul class="footerNavigation">
                          <li>
                              <div class="txt-inline p-10">
                                  <h3 class="footerMedFont">Featured Offer &nbsp;</h3>
                                  <img src="images/footer/new-window.png" alt="external site icon" width="9" height="9" class="img-newWindow-featured">
                              </div>
                          </li>
                          <li>
                              <a href="https://insure.jetprivilege.com/?q=mmop30112016">
                                  <div class="">

                                      <img class="imgHvr" src="images/footer/banner-footer-earnjpmiles-02.jpg" alt="shop.jetprivilege.com" data-image-type="Program Initiatives">

                                  </div>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="iphoneFooter mobile">
              <ul class="footerNavigation iphoneFooter1 clearfix">
                  <li class="">
                      <a href="http://www.jetprivilege.com/about-us">About Us</a>
                  </li>
                  <li class="">
                      <a href="https://www.jetprivilege.com/corporate-social-responsibility">Social Impact</a>
                  </li>
                  <li class="">
                      <a href="http://www.jetprivilege.com/contact-us">Contact Us</a>
                  </li>
                  <li class="">
                      <a href="http://www.jetprivilege.com/faq">FAQs &amp; Glossary</a>
                  </li>
                  <li class="">
                      <a href="http://www.jetprivilege.com/pressroom">Pressroom</a>
                  </li>
              </ul>
              <ul class="footerNavigation iphoneFooter2 clearfix">
                  <li class="">
                      <a href="http://www.jetprivilege.com/careers">Careers</a>
                  </li>
                  <li class="">
                      <a href="http://www.jetprivilege.com/terms-and-conditions">Terms &amp; Conditions</a>
                  </li>
                  <li class="">
                      <a href="http://www.jetprivilege.com/disclaimer-policy">Disclaimers &amp; Policies</a>
                  </li>
                  <!-- <li class="divider">
                      <a href="http://www.jetprivilege.com/cookie-policy">Cookie Policy</a>
                  </li>-->
                  <li class="">
                      <a href="http://www.jetprivilege.com/sitemap">Site Map</a>
                  </li>

                  <!--<li class="divider">
                      <h3 class="footerMedFont">Connect with us</h3>
                  </li> -->
              </ul>
              <div class="col-xs-12 connect-with-us clearfix">
                  <div class="jp-footerLeftBlackTxt txt-inline">
                      <h3 class="footerMedFont txtImgInline">Connect with us</h3>
                      <img src="images/footer/new-window.png" alt="external site icon" width="9" height="9" >
                  </div>
              </div>
              <ul class="socialLinks clearfix">
                  <li>
                      <a href="https://facebook.com/jetairways" target="_blank" class="social1">Like us on Facebook</a>
                  </li>
                  <li>
                      <a href="https://twitter.com/jetairways" target="_blank" class="social2">Follow us on Twitter</a>
                  </li>
                  <li>
                      <a href="https://youtube.com/jetairways" target="_blank" class="social3">Subscribe to YouTube</a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/company/jet-privilege-pvt-ltd" target="_blank" class="social4">Join us on LinkedIn</a>
                  </li>
                  <li>
                      <a href=" https://www.pinterest.com/jetprivilege/" target="_blank" class="social5">Follow us on Pinterest</a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/dontstopcollecting/" target="_blank" class="social6">Follow us on Instagram
                      </a>
                  </li>
              </ul>
          </div>
          <div class="flex-container ">
              <div class="col-md-8 col-xs-9 pd-0 desktop">
                  <div class="socialLinksContainer">
                      <div class="jp-footerLeftBlackTxt txt-inline">
                          <h3 class="footerMedFont txtImgInline">Connect with us</h3>
                          <img src="images/footer/new-window.png" alt="external site icon" width="9" height="9"  class="img-newWindow">
                      </div>
                      <ul class="footerNavigation socialLinks">
                          <li>
                              <a class="social1" target="_blank" href="https://facebook.com/jetairways">
                                  <span class="hideElement ui-hidden-accessible">Facebook</span>
                              </a>
                          </li>
                          <li>
                              <a class="social2" target="_blank" href="https://twitter.com/jetairways">
                                  <span class="hideElement ui-hidden-accessible">Twitter</span>
                              </a>
                          </li>
                          <li>
                              <a class="social3" target="_blank" href="https://youtube.com/jetairways">
                                  <span class="hideElement ui-hidden-accessible">Youtube</span>
                              </a>
                          </li>
                          <li>
                              <a class="social4" target="_blank" href="https://www.linkedin.com/company/jet-privilege-pvt-ltd">
                                  <span class="hideElement ui-hidden-accessible">Linked In</span>
                              </a>
                          </li>
                          <li>
                              <a class="social5" target="_blank" href="https://pinterest.com/jetairways">
                                  <span class="hideElement ui-hidden-accessible">Pintrest</span>
                              </a>
                          </li>
                          <li>
                              <a class="social6" target="_blank" href="https://www.instagram.com/dontstopcollecting">
                                  <span class="hideElement ui-hidden-accessible">Instagram</span>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="copy">
                      <ul class="footerlogos">
                          <li>
                              <a href="http://www.jetairways.com/EN/IN/Home.aspx" target="_blank" rel="nofollow" class="jetfooterLogo">
                                  <p class="hideElement ui-hidden-accessible"> Jet Airways Logo</p>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="container-fluid pdl-0 footertxt">
              <div class="extLink link-p0">
                  <img src="images/footer/new-window.png" alt="external site icon" width="9" height="9"  class="img-newWindow">
                  <!-- <img src="images/footer/new-window.png" alt="external site icon"  > -->
                  <span class="pl-12">Indicates that you will be redirected to an external site which may or may not meet accessibility guidelines.</span>
              </div>
              <div class="copyright-wrap ">
                  <div class="copyright-block ">
                      <p>&copy; Jet Privilege Pvt. Ltd. All rights reserved</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>